.container-fluid {
    height: inherit;
    margin: 0;
    padding: 0;

}

.navbar {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(68, 64, 64, 0.507);
    font-size: 1.6rem;
    box-shadow: #f4a261 0px 0px 15px;
}

.navbar a {
    font-size: 1rem;
    font-weight: 500;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .navbar .navbar-brand {
    font-size: 1rem;
    font-weight: 500;
}

.container-logoo {
    margin-bottom: 10rem;
}

.container-logoo :hover {
    text-decoration: none;
}



#book:hover {
    border-color: #f4a261;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f4a261;
    transform: translateY(-0.25em);
}

#book {
    text-transform: uppercase;
    color: #b35867be;
}

#b {
    font-size: 60px;
    border-radius: 1rem;
}

#logo-text {
    font-family: "Dancing Script", cursive;
    font-size: 40px;
    /* color-adjust:linear-gradient(to left, rgba(0,0,0,.8), rgba(0,0,0,.1));    */
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li .nav-link {
    padding: 2rem 0;
    margin: 0 1rem;
    position: relative;
    /* right:10%; */
    letter-spacing: 2px;
    font-size: 20px;
    text-decoration: none;
}

/* nav ul li .nav-link:hover{
background: hsla(201, 22%, 52%, 0.644);

border-radius: 10px;

} */

/* header{
    width: 100%;
    height: 100vhpx;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.1)), url(img/Background/Background4.jpg);
    background-size: cover;
    background-position: center;
    z-index: 999;
} */
